#Hero {
  	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	min-height: 626px;
	background: url('../../static/img/background/home.png') no-repeat;
	background-color: #274B6D;
	background-position: bottom;
	background-size: cover;
	  
	.Hero__container {
		margin-top: -12%;
		color: var(--light-color);
		max-width: 80%;
		

		h1 {
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: var(--fs-header);
			color: #e7c83d;
			text-shadow: var(--shadow-header);
			animation: drop 2s;
		}

		@keyframes drop {
			0% {
				opacity: 0;
				transform: translateY(-100%);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		p {
			position: relative; bottom: -40px;
			font-family: 'Crimson Text', serif;
			font-size: var(--fs-title);
			text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .7);
			animation: drop 1s;
		}
	}

	@media screen and (max-width: 1113px) {
		.Hero__container {
			h1 { font-size: 58pt; }
			p { font-size: 28pt; }
		}
	}

	@media screen and (max-width: 759px) {
		.Hero__container {
			h1 { font-size: 52pt; }
			p { font-size: 24pt; }
		}
	}

	@media screen and (max-width: 629px) {
		.Hero__container {
			h1 { font-size: 48pt; }
			p { font-size: 22pt; }
		}
	}

	@media screen and (max-width: 320px) {
		.Hero__container {
			h1 { font-size: 38pt; }
			p { font-size: 18pt; }
		}
	}

}